<div class="footer">
  <div class="social">
    <a href="https://www.github.com/dostaglou"><i class="fab fa-github" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/dillon-wyatt-3a2a5b183/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/foreignorchid" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
