<!-- Just an image -->
<nav class="navbar navbar-light bg-transparent p-2 w-100 border-bottom justify-content-center">
  <h2 class="mr-2"><strong>DillonCWyatt@gmail.com</strong></h2>
</nav>
<%#= link_to "About", "#", class: "text-dark" %>
<%#= link_to "Contact", "#", data: {target: "x"}, class: "text-dark" %>
